<h1> Welcome to the House of Gains </h1> 
<div><h2>To enter, please login, or if you're a new user, please sign up</h2></div> 
<div><%= link_to "Log in", new_user_path(@user) %></div>
<div><%= link_to "Sign up", new_user_path(@user) %></div>