<h1>Hello <%= @user.name %>!</h1>
<h2> What would you like to do? </h2>

<% if @user.subscriptions %>
        <h2> You are currently subscribed to: </h2>
        <% @user.subscriptions.each do |f| %>
         <li><%= f.gym.name %></li>
         <% end %>
<% else %>
    <p> You aren't subscribed to a gym. <p>
<% end %>    

<% if flash[:suberror]%>
     <h2 id= "error"><%= flash[:suberror] %></h2>
<%end%>

