<h1>Hello <%= @current_user.name %>!</h1>
<% if flash[:suberror]%>
     <h2 id= "error"><%= flash[:suberror] %></h2>
<%end%>

<% @current_user.subscriptions.each do |subscription| %>    
      You're subscribed to:
      <%= subscription.gym.name %>
      <%= button_to "Unsubscribe", subscription_path(subscription), method: "delete" %>
      <br>
 <%end%>


