
<h1>Welcome to House of Gains, bro!</h1>
<br>
<h2>Here are the gyms in your area</h2>

<ol>
    <%  @gyms.each do |gym| %>
        <h3><%= link_to gym.name, gym_path(gym) %></h3>
        <p> </p>
    <% end %>
</ol>
